{%- comment -%}
Add this <li> inside your main nav (e.g., sections/header.liquid or your theme’s navigation snippet).
If your theme uses Shopify “Navigation” in admin, you can also add a menu item pointing to /pages/help.
{%- endcomment -%}
<li class="nav-item">
  <a href="/pages/help" class="nav-link">Help&nbsp;&amp;&nbsp;Order&nbsp;Support</a>
</li>
